@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Noto+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: calc(100vh - 56px);
}

@media screen and (min-width: 768px) {
  main {
    min-height: calc(100vh - 84px);
  }
}

.logo {
  font-family: "Junge", cursive;
}

.delete-animation {
  overflow: hidden;
  white-space: nowrap;
  animation-name: delete;
  animation-duration: 0.3s;
}

@keyframes delete {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
    background-color: crimson;
    opacity: 0.7;
  }
}

.move-animation {
  overflow: hidden;
  white-space: nowrap;
  animation-name: move;
  animation-duration: 0.3s;
}

@keyframes move {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
    opacity: 0.5;
    background-color: rgb(93, 255, 93);
  }
}
